@import 'vue-multiselect/dist/vue-multiselect.css';

// Inner Input
.multiselect__input,
.multiselect__single {
  background: transparent !important;
  // font-size: 16px !important;
  text-transform: capitalize;
  &::placeholder {
    font-size: 16px !important;
  }
}

// .multiselect .multiselect__select {
// height: 20px;
// width: 20px;
// }

// The container we can see
.multiselect__tags {
  border-radius: 8px;
  border: 1px solid #acacac;
  background: transparent;
  font-size: 14px !important;
  display: flex;
  align-items: center;
}

.multiselect__option {
  background-color: #fff;
  width: 96%;
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 14px !important;
  margin: 10px auto;
}
.multiselect__option--highlight {
  background-color: #eef;
  color: #0c090a;
}

.multiselect__tags {
  min-height: 40px;
  display: block;
  padding: 8px 40px 0 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
}

.multiselect__tag-icon {
  cursor: pointer;
  margin-left: 0px;
  margin-right: 4px;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
  font-weight: 700;
  font-style: initial;
  width: 22px;
  text-align: center;
  line-height: 22px;
  transition: all 0.2s ease;
  border-radius: 5px;
}

// Drop down
.multiselect__content {
  background: #fafafa;
  color: #0c090a;
  // font-size: 20px;
  // border-radius: 8px !important;
  // max-width: 100% !important;
  // transition: all 2s ease !important;
}

.multiselect__placeholder {
  color: #acacac;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 8px 30px 8px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: var(--secondary-300);
  line-height: 1;
  // margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  display: inline-flex; /* Use flexbox to align children */
  align-items: center; /* Vertically center children */
  justify-content: space-between; /* Spread out the children */
  border-radius: 8px;
  width: max-content;
  border: 1px solid #acacac;
  background: var(--brand);
}

.multiselect__tag-icon {
  display: inline-flex;
  position: absolute;
  right: 0; /* Align to the right of the parent */
  top: 45%; /* Start at the vertical center */
  transform: translateY(
    -50%
  ); /* Shift it up by half its height to truly center it */
}
.multiselect__tag-icon::after {
  content: url('/cancel.svg');
}

.multiselect__option--highlight::after {
  content: attr(data-select);
  background: var(--brand);
  color: white;
}

.multiselect__option--group {
  background: var(--brand);
  color: #fff;
}

// .multiselect__option--group.multiselect__option--highlight {
//   background: #35495e;
//   color: #fff;
// }

// .multiselect__option--group.multiselect__option--highlight::after {
//   background: #35495e;
// }

// .multiselect__option--disabled.multiselect__option--highlight {
//   background: #dedede;
// }

// .multiselect__option--group-selected.multiselect__option--highlight {
//   background: #ff6a6a;
//   color: #fff;
// }

// .multiselect__option--group-selected.multiselect__option--highlight::after {
//   background: #ff6a6a;
//   content: attr(data-deselect);
//   color: #fff;
// }
