.map {
  height: 500px !important;
  width: 100%;
}
.splide__slide.is-active {
  border: 1px solid transparent !important;
}
.active-splide {
  border: 1px solid #039855 !important;
  border-radius: 8px;
  background: #039855 !important;
  text-transform: capitalize;
  color: white;
  z-index: 200;
  padding-bottom: 4px;
}

.splide__track--nav > .splide__list {
  // border: 2px solid #068e2f !important;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 16px !important;
}
.splide__slide.is-active {
  border: 2px solid #068e2f;
  border-radius: 8px;
  text-transform: capitalize;
  font-size: 16px !important;
}
