.form-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  input,
  textarea {
    @apply text-dark-400;
    background: #ffffff;
    outline: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 8px;
    border: 1px solid #d0d5dd;

    :disabled {
      color: #a0bdba;
    }
    // @apply block w-full border ring-transparent  focus:border-2 focus:border-green-400 focus:outline-none;
  }
  .form-container {
    @apply relative rounded-lg border border-gray-300 bg-white text-sm focus:outline-none;
  }
  .form-input {
    border: 0px solid #ffffff00;
    @apply focus:ring-transparent;
  }
  .normal-box {
    @apply border-[#d0d5dd];
  }
  .error-box {
    border: 1px solid #ef4444;
  }
  .form-error {
    color: #ef4444;
    font-weight: 500;
    font-size: 14px;
  }
  textarea {
    min-height: 80px;
  }
  select {
    border: 1px solid #d0d5dd;
    height: 50px;
    padding: 0 8px;
    color: #667085;
    background: #ffffff;
    outline: none;
    border-radius: 8px;
  }
}
